In [6]:
import pandas as pd

data = pd.read_excel('C:/Users/kyujin/PycharmProjects/project/corr_search_mlb.xlsx')
data.head()

,end_dt,cat_nm,sub_cat_nm,sale_qty,rtl_sale_qty,rf_sale_qty,dome_sale_qty,duty_sale_qty,srch_cnt
0,2021-01-03,가방,백팩,75,18,2,0,55,610
1,2021-01-03,가방,버킷백,41,27,5,0,9,13
2,2021-01-03,가방,크로스백,1295,142,84,0,1069,235
3,2021-01-03,가방,힙색,346,29,5,0,312,339
4,2021-01-03,간절기아우터,가디건,56,42,7,0,7,112

In [21]:
bag = data[data.sub_cat_nm=='크로스백'][['end_dt','rtl_sale_qty','srch_cnt']]
bag.head()

        end_dt  rtl_sale_qty  srch_cnt
2   2021-01-03           142       235
51  2021-01-10           225       208
100 2021-01-17           290       264
151 2021-01-24           519       356
202 2021-01-31           335       300

In [22]:
# 상관관계
corr = bag[['rtl_sale_qty','srch_cnt']].corr(method='pearson')
corr

              rtl_sale_qty  srch_cnt
rtl_sale_qty      1.000000  0.863032
srch_cnt          0.863032  1.000000

In [29]:
# 공적분1
import statsmodels

_, p_value, _ = statsmodels.tsa.stattools.coint(bag.rtl_sale_qty, bag.srch_cnt)
print('Mean: ', (bag.rtl_sale_qty / bag.srch_cnt).mean())
print('Correlation: ', bag.rtl_sale_qty.corr(bag.srch_cnt))
print('Cointegration test p-value: ', p_value)

Mean:  inf
Correlation:  0.8630322852201691
Cointegration test p-value:  0.5532950516839809

In [31]:
bag.set_index('end_dt', inplace=True)
bag.sort_values('end_dt', ascending=True, inplace=True)

KeyError: "None of ['end_dt'] are in the columns"

In [34]:
import statsmodels

score, pvalue, _ = statsmodels.tsa.stattools.coint(bag.rtl_sale_qty,bag.srch_cnt)
print('Correlation: ' + str(bag.rtl_sale_qty.corr(bag.srch_cnt)))
print('Cointegration test p-value: ' + str(pvalue))

Correlation: 0.8630322852201691
Cointegration test p-value: 0.5532950516839809