In [5]:
import pandas as pd

path = 'C://Users/kyujin/Desktop/PROCESS/code_용품팀_200715.xlsx'

ds_index = pd.read_excel(path, sheet_name='index', index_col=None)
ds_index = ds_index[['code', 'category']]

ds_index['code'] = ds_index['code'].apply(str)
ds_index['code']

0      50000000
1      50000001
2      50000167
3      50000168
4      50000169
         ...
522    50007161
523    50007162
524    50007163
525    50007164
526    50007165
Name: code, Length: 527, dtype: object

In [2]:
ds_select = pd.read_excel(path, sheet_name='Sheet1', index_col=None)
df_sub = list(ds_select.iloc[:, 2].dropna())
df_sub
print(len(df_sub))
result = list(map(lambda x : ''+str(x).split('.')[0]+'', df_sub))
print(len(result))

10
10

In [ ]:
import pandas as pd

df = pd.read_excel('C:/Users/kyujin/Desktop/PROCESS/code_용품팀_200715.xlsx', index_col=None)
df = df.iloc[:, 1:4]
col = ['depth', 'name', 'code', 'level1', 'level2', 'level3', 'level4']
df.reindex(columns=col)

df.loc[df['depth']==1, 'level1'] = df.loc[df['depth']==1, 'name']
df.loc[df['depth']==2, 'level1'] = df.loc[df['depth']==2, 'name'].map(lambda x : x.split(">")[0])
df.loc[df['depth']==3, 'level1'] = df.loc[df['depth']==3, 'name'].map(lambda x : x.split(">")[0])
df.loc[df['depth']==4, 'level1'] = df.loc[df['depth']==4, 'name'].map(lambda x : x.split(">")[0])

df.loc[df['depth']==2, 'level2'] = df.loc[df['depth']==2, 'name'].map(lambda x : x.split(">")[1])
df.loc[df['depth']==3, 'level2'] = df.loc[df['depth']==3, 'name'].map(lambda x : x.split(">")[1])
df.loc[df['depth']==4, 'level2'] = df.loc[df['depth']==4, 'name'].map(lambda x : x.split(">")[1])

df.loc[df['depth']==3, 'level3'] = df.loc[df['depth']==3, 'name'].map(lambda x : x.split(">")[2])
df.loc[df['depth']==4, 'level3'] = df.loc[df['depth']==4, 'name'].map(lambda x : x.split(">")[2])

df.loc[df['depth']==4, 'level4'] = df.loc[df['depth']==4, 'name'].map(lambda x : x.split(">")[3])

print(df.iloc[:,2:])

In [1]:
from dataclasses import dataclass
import pandas as pd
import xlwings as xw
from xlwings.utils import rgb_to_int
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
from sqlalchemy import create_engine
import os

os.environ["NLS_LANG"] = ".AL32UTF8"

engine = create_engine('postgresql+psycopg2://postgres:1111@172.0.2.93:5432/postgres')
con = engine.connect()

strSQL = """
        select * from db_mkt_musinsa_top20
"""

df = pd.read_sql(strSQL, con)
print(df)

           cat_cd_nm    get_date rank  \
0        상의 > 반팔 티셔츠  2020-07-03    1
1        상의 > 반팔 티셔츠  2020-07-03    2
2        상의 > 반팔 티셔츠  2020-07-03    3
3        상의 > 반팔 티셔츠  2020-07-03    4
4        상의 > 반팔 티셔츠  2020-07-03    5
...              ...         ...  ...
5364  액세서리 > 기타 액세서리  2020-07-14   16
5365  액세서리 > 기타 액세서리  2020-07-14   17
5366  액세서리 > 기타 액세서리  2020-07-14   18
5367  액세서리 > 기타 액세서리  2020-07-14   19
5368  액세서리 > 기타 액세서리  2020-07-14   20

                                                   prdt  \
0     티떠블유엔(TWN) [패키지]아이스버그 반팔 STST3279 + 스플래쉬 반팔 ST...
1            커버낫(COVERNAT) S/S AUTHENTIC LOGO TEE WHITE
2                     엘엠씨(LMC) LMC TWIRLED OG TEE black
3     파르티멘토(PARTIMENTO) [패키지][CHUBBY]EMBROIDERY TEE ...
4                    엘엠씨(LMC) LMC THREE BEARS TEE white
...                                                 ...
5364                      아차(ACHA) 스카치 로프 링고리 바지체인 _ 실버
5365           아차(ACHA) 써지컬스틸 크로스 레이어드 바지체인 _ WHITE(실버)
5366                            에프씨엠엠(FCMM) 올라운드 리스트 밴드
5367  세이모 온도(SAMO ONDOH) 11° 34mm Belt Strap - Beige...
5368  세이모 온도(SAMO ONDOH) 11° 34mm Belt Strap - Croc ...

                                                    url  \
0     https://store.musinsa.com//app/product/detail/...
1     https://store.musinsa.com//app/product/detail/...
2     https://store.musinsa.com//app/product/detail/...
3     https://store.musinsa.com//app/product/detail/...
4     https://store.musinsa.com//app/product/detail/...
...                                                 ...
5364  https://store.musinsa.com//app/product/detail/...
5365  https://store.musinsa.com//app/product/detail/...
5366  https://store.musinsa.com//app/product/detail/...
5367  https://store.musinsa.com//app/product/detail/...
5368  https://store.musinsa.com//app/product/detail/...

                                               prdt_img  \
0     https://image.msscdn.net/images/goods_img/2020...
1     https://image.msscdn.net/images/goods_img/2018...
2     https://image.msscdn.net/images/goods_img/2020...
3     https://image.msscdn.net/images/goods_img/2020...
4     https://image.msscdn.net/images/goods_img/2020...
...                                                 ...
5364  https://image.msscdn.net/images/goods_img/2018...
5365  https://image.msscdn.net/images/goods_img/2018...
5366  https://image.msscdn.net/images/goods_img/2018...
5367  https://image.msscdn.net/images/goods_img/2019...
5368  https://image.msscdn.net/images/goods_img/2019...

                                           prdt_img_url       brand  \
0     //172.0.0.112/mlb/process_team/musinsa_crawl/2...         TWN
1     //172.0.0.112/mlb/process_team/musinsa_crawl/2...    COVERNAT
2     //172.0.0.112/mlb/process_team/musinsa_crawl/2...         LMC
3     //172.0.0.112/mlb/process_team/musinsa_crawl/2...  PARTIMENTO
4     //172.0.0.112/mlb/process_team/musinsa_crawl/2...         LMC
...                                                 ...         ...
5364  //172.0.0.112/mlb/process_team/musinsa_crawl/2...        ACHA
5365  //172.0.0.112/mlb/process_team/musinsa_crawl/2...        ACHA
5366  //172.0.0.112/mlb/process_team/musinsa_crawl/2...        FCMM
5367  //172.0.0.112/mlb/process_team/musinsa_crawl/2...  SAMO ONDOH
5368  //172.0.0.112/mlb/process_team/musinsa_crawl/2...  SAMO ONDOH

                                   prdt_cd   season  ... pg_view acum_sales  \
0                                  1914757  2020S/S  ...   40.8만       1.8만
1                              C1804SL01WH  2020S/S  ...   29.4만         3만
2                             20SS_TOTE_BK  2020S/S  ...   23.2만       1.4만
3     [패키지][CHUBBY]EMBROIDERY TEE (5COLOR)  2020S/S  ...   22.8만       1.4만
4                             20SS_THBE_WH  2020S/S  ...   27.7만       7.7천
...                                    ...      ...  ...     ...        ...
5364                                  바지체인  2018ALL  ...     200        100
5365                                 바지체인3  2018ALL  ...     200        100
5366                                FC6035     None  ...     400        100
5367                            SMO_B00934  2019ALL  ...      77       None
5368                            SMO_B00935  2019ALL  ...      53       None

        like  review satisfaction origin_price sale_price review_st_date  \
0      7,951   2,050       93.78%       47,800     39,800     2020-05-08
1     21,583  13,801       95.14%       39,000     27,300     2018-04-21
2     13,834   2,225        94.8%       39,000     27,300     2020-04-11
3      7,677   2,081        93.2%       59,800     35,500     2020-05-27
4     12,166   1,656       94.86%       39,000     39,000     2020-04-09
...      ...     ...          ...          ...        ...            ...
5364     192      77       94.54%       17,000     17,000     2018-10-13
5365     215     106       96.98%       25,000     25,000     2018-02-28
5366     131     125       91.04%        6,500      6,500     2018-06-28
5367       3    None         None       42,000     42,000           None
5368       2    None         None       42,000     42,000           None

     most_buy_seg                                           hash_tag
0        25~34 남성            {#오버핏,#오버핏반팔,#반팔,#반팔티셔츠,#패키지,#그래픽,#반팔티}
1        19~24 남성                      {#커버낫,#로고,#오버핏,#반팔,#반팔티,#로고티}
2        19~24 남성              {"#LMC 반팔","#엘엠씨 트윌 OG 티셔츠",#로고,#LMC}
3        25~34 남성       {#처비,#반팔,#티셔츠,#반팔티,#처비라인,#오버핏,#파르티멘토,#오버핏반팔}
4        19~24 여성                                {"#LMC 쓰리베어티",#LMC}
...           ...                                                ...
5364     19~24 남성                 {#ACHA,#큰링,#링바지체인,#아차,#체인,#링,#링고리}
5365     19~24 남성  {#체인,"#써지컬스틸 바지체인",#써지컬스틸,#아차,#ACHA,#레이어드바지체인,...
5366     19~24 남성        {#밴드,#FCMM,#손목보호대,"#손목 밴드",#에프씨엠엠,#스포츠,#아대}
5367                     {"#SAMO ONDOH",#악세사리,#스트랩,"#세이모 온도",#가방스트랩}
5368                     {#악세사리,"#세이모 온도",#스트랩,#가방스트랩,"#SAMO ONDOH"}

[5369 rows x 21 columns]

In [5]:
def char_to_int(x):
    x = str(x)
    y = x
    try:
        if '천' in x:
            if '.' in x:
                y = int(str(x.replace('.', '')).replace('천', '')) * 100
            else:
                y = int(x.replace('천', '')) * 1000
        elif '만' in x:
            if '.' in x:
                y = int(str(x.replace('.', '')).replace('만', '')) * 1000
            else:
                y = int(x.replace('만', '')) * 10000
        else:
            pass
    except:
        pass
    return y

df['pg_view'] = df['pg_view'].map(lambda item : char_to_int(item))

0       408000
1       294000
2       232000
3       228000
4       277000
         ...
5364       200
5365       200
5366       400
5367        77
5368        53
Name: pg_view, Length: 5369, dtype: object

In [ ]:
df['pg_view'] = df['pg_view'].to_numeric

print(df['pg_view'])

In [4]:
import cx_Oracle as co
import pandas as pd
import os
from sqlalchemy import create_engine
import time
import datetime
import pandas as pd
os.environ["NLS_LANG"] = ".AL32UTF8"
path = 'C://Users/kyujin/Desktop/PROCESS/code_디자인실_200721.xlsx'

ds_select = pd.read_excel(path, sheet_name='CB', index_col=None)

len(ds_select)

146

In [3]:
path1 = 'C://Users/kyujin/Desktop/PROCESS/code_디자인실_200721.xlsx'
ds_code = pd.read_excel(path, sheet_name='Sheet2', index_col=None)
ds_sub = ds_code[['name', 'code']]
df_sub = ds_code.iloc[1:, 2:4]
df_sub

KeyError: "None of [Index(['name', 'code'], dtype='object')] are in the [columns]"

                                   name      code
1                                  패션잡화  50000001
2                           패션의류 > 여성의류  50000167
3                      패션의류 > 여성언더웨어/잠옷  50000168
4                           패션의류 > 남성의류  50000169
5                      패션의류 > 남성언더웨어/잠옷  50000170
..                                  ...       ...
497          면세점 > 전자제품 > 가전제품 > 기타가전제품  50003083
498  면세점 > 전자제품 > MP3/이어폰/헤드폰 > MP3/PMP  50003084
499     면세점 > 전자제품 > MP3/이어폰/헤드폰 > 전자사전  50003085
500      면세점 > 전자제품 > MP3/이어폰/헤드폰 > 이어폰  50003086
501      면세점 > 전자제품 > MP3/이어폰/헤드폰 > 헤드폰  50003087

[501 rows x 2 columns]

In [50]:
os.environ["NLS_LANG"] = ".AL32UTF8"
path = 'C://Users/kyujin/Desktop/PROCESS/code_디자인실_200721.xlsx'
ds_select = pd.read_excel(path, sheet_name='CB', index_col=None, header=None)

In [112]:
import pandas as pd
df = pd.read_csv('C:/Users/kyujin/Desktop/PROCESS/MKT/viral_data/mlb모노그램_post_2020_08_12.csv')
df['issue_date'] = pd.to_datetime(df['issue_date'], format='%Y-%m-%d', errors='ignore')
print(df['issue_date'])

#
#
# df['year'] = df['issue_date'].dt.year
# df['week_num'] = df['issue_date'].dt.weekofyear
# df['month'] = df['issue_date'].dt.month
#
# print(df[['issue_date','year','week_num']])

   Unnamed: 0  view_count    author  \
0           0        5464     제니스타일
1           2         315    패션인사이트
2           4        3859  마고의 패션뷰티
3           6         540    패션인사이트
4           8         138    패션인사이트

                                            contents   issue_date  \
0  ▲ ‘멋이란 게 폭발했다’ 배우 문숙, ‘MLB 모노그램’ 후리스 롱패딩 화보 공개...  2019.10.23.
1  오프닝쇼에서 네 남자가 착용한 아이템은 'MLB'의 클래스가 다른 클래식 스타일의 ...  2019.12.20.
2  마지막으로MLB키즈 모노그램 컬렉션이에요 :)뉴욕 양키스 로고를모던하게 재해석해고급...  2019.08.29.
3  강조한 MLB 모노그램 컬렉션 F&F(대표 김창수)에서 전개하는 스트리트 캐주얼 브...  2019.10.23.
4  보아플리스 점퍼에 모노그램 캡 착용 감각적 스트리트룩 선보여 화제 MLB키즈 ‘메가...  2019.10.28.

                                          title  \
0  ‘멋이란 게 폭발했다’ 배우 문숙, ‘MLB 모노그램’ 후리스 롱패딩 화보 공개
1                 MLB 모노그램 입고 ‘파티안하면 지상렬’ 웃음 선사
2              [구찌키즈부터 MLB키즈까지] 키즈 모노그램 아이템 모음♥
3                         MLB 모노그램 “예약 안하면 못 사”
4                     MLB키즈 ‘메가베어’ 동대문 일대 이색 투어

                                                 url        date
0  https://m.post.naver.com/viewer/postView.nhn?v...  2020-08-12
1  https://m.post.naver.com/viewer/postView.nhn?v...  2020-08-12
2  https://m.post.naver.com/viewer/postView.nhn?v...  2020-08-12
3  https://m.post.naver.com/viewer/postView.nhn?v...  2020-08-12
4  https://m.post.naver.com/viewer/postView.nhn?v...  2020-08-12

In [97]:
df['key'] = df[['year','week_num']].astype(str).apply(lambda x: '_'.join(x), axis=1)

grouped = df.groupby(df['key']).count()['url'].to_frame()
grouped = grouped.reset_index()
chnl = 'blog'
grouped.columns = ['key', chnl + '_cnt']
print(grouped)

        key  blog_cnt
0   2018_18         1
1    2018_2         1
2   2018_41         1
3   2018_42         1
4   2018_51         1
..      ...       ...
68   2020_5         7
69   2020_6         5
70   2020_7         7
71   2020_8        20
72   2020_9        15

[73 rows x 2 columns]

In [108]:
df = pd.read_excel('C:/Users/kyujin/Desktop/PROCESS/MKT/viral_data/빅볼청키_youtube.xlsx')
df = df.iloc[:, 1:-1]
df.rename(columns={'title':'title', 'post_date':'issue_date', 'view':'view_count', 'user':'author', 'follower':'follower'}, inplace=True)
print(df)
print(df.columns)

                                                 title     issue_date  \
0                           빅볼청키는 빈티지 아니면 사지마! and 코디?  2019. 11. 12.
1                                          MLB 빅볼청키 리뷰    2019. 2. 7.
2       어글리슈즈 가성비 끝판왕 MLB '빅볼청키' 직접 신어보고 알려주는 신발 리뷰 :D   2019. 4. 18.
3                          인싸템 MLB 빅볼청키 어글리슈즈 저도 사봤어요!   2019. 4. 19.
4                         새학기 맞이 (집에서 대리만족) 신발소개하기 😭❤️   2020. 4. 27.
..                                                 ...            ...
413                                   8월엔 이 신발 사시면 됩니다   2020. 7. 31.
414  나이키 SB 덩크 로우 x 밴 엔 제리스 청키 덩키 Ben & Jerry's Chu...   2020. 8. 10.
415  [NIKE] 나이키 SB 덩크 로우 x 밴 엔 제리스 청키 덩키 Ben & Jerr...   2020. 8. 10.
416  [NIKE] 나이키 SB 덩크 로우 x 밴 엔 제리스 청키 덩키 Ben & Jerr...   2020. 8. 11.
417  나이키 SB 덩크 로우 x 밴 엔 제리스 청키 덩키 Ben & Jerry's Chu...   2020. 8. 11.

    view_count               author  follower
0        43331                핏더사이즈  254000.0
1        51953              와디의 신발장  147000.0
2        29726                   정홍    1030.0
3        29941                 요피TV     807.0
4        18278                   숨양   48600.0
..         ...                  ...       ...
413      12524              와디의 신발장  147000.0
414          2      신발난다 리뷰 영상 모음!!       NaN
415          1      신발난다 리뷰 영상 모음!!       NaN
416          1  하이앤드신발나이키이지조던1오프화이트       NaN
417         1회              신발_인사이드       NaN

[418 rows x 5 columns]
Index(['title', 'issue_date', 'view_count', 'author', 'follower'], dtype='object')

In [137]:
import pandas as pd
df = pd.read_csv('C:/Users/kyujin/Desktop/PROCESS/MKT/viral_data/mlb모노그램_post_2020_08_12.csv')
df['issue_date'] = df['issue_date'].apply(lambda x : x[:-1])
df['issue_date'] = pd.to_datetime(df['issue_date'], format='%Y-%m-%d')
print(df['issue_date'])

0    2019-10-23
1    2019-12-20
2    2019-08-29
3    2019-10-23
4    2019-10-28
5    2020-04-20
6    2020-05-26
7    2020-05-22
8    2020-04-29
9    2020-03-26
10   2020-03-27
11   2020-04-28
12   2020-02-27
13   2020-03-12
14   2020-02-21
15   2019-12-06
16   2020-02-28
17   2020-02-07
18   2020-07-22
19   2020-06-12
20   2020-04-24
21   2020-01-08
22   2019-11-08
23   2019-10-01
24   2020-08-04
25   2020-03-30
26   2020-03-26
27   2020-04-10
28   2020-04-02
29   2020-05-06
30   2020-06-29
31   2019-12-10
32   2019-08-31
33   2020-05-06
34   2020-04-02
35   2020-04-09
36   2019-12-03
37   2020-04-13
38   2019-12-16
39   2020-05-03
Name: issue_date, dtype: datetime64[ns]

In [3]:
import pandas as pd

df = pd.read_excel('C:/Users/kyujin/Desktop/test.xlsx', sheet_name='Sheet1', index=False)
sum_df = df.groupby(['cls','region'])['sale_amt'].sum()
sum_df = sum_df.unstack()
print(sum_df)

region      RF/도매          국내           면세         중국        홍마대
cls
당해      383308768  1708459260   2633374980  541782590  260961312
전년      974720000  2029680380  10129976300  242856656  524975264
전주      491509888  1902917120   3413957630  889138110  273694016

In [9]:
t_df = sum_df.transpose()
t_df['전년비'] = t_df['당해']/t_df['전년']*100
t_df['전주비'] = t_df['당해']/t_df['전주']*100
t_df['전년비'] = t_df['전년비'].apply(lambda x : str(x) + '%')
print(t_df['전년비'])

region
RF/도매     39.32501313197636%
국내        84.17380770069818%
면세        25.99586516308039%
중국       223.08739604814454%
홍마대       49.70925868232908%
Name: 전년비, dtype: object

In [103]:
df = pd.read_excel('C:/Users/kyujin/Desktop/test.xlsx', sheet_name='Sheet1', index=False)

sum_df = df.groupby(['cls','region'])['sale_amt'].sum()
sum_df = sum_df.unstack()

df_tr = sum_df.transpose()
df_tr['전년비'] = [x / y * 100 if y != 0 else 0 for x, y in zip(df_tr['당해'], df_tr['전년'])]
df_tr['전주비'] = [x / y * 100 if y != 0 else 0  for x, y in zip(df_tr['당해'], df_tr['전주'])]
format_mapping = {'당해':'{:,.0f}', '전년':'{:,.0f}', '전주':'{:,.0f}', '전주비':'{:.2f}%', '전년비':'{:.2f}%'}
for key, value in format_mapping.items():
    df_tr[key] = df_tr[key].apply(value.format)

df_re = df_tr.transpose().reset_index(drop=True)
df_re = df_re.rename(index = {0 : '당해',1:'전년',2:'전주', 3:'전년비', 4:'전주비'})
df_re.drop(['전년', '전주'], inplace=True)
df_re = df_re[['국내', 'RF/도매', '면세', '중국', '홍마대']]
print(df_re)

region             국내        RF/도매             면세           중국          홍마대
당해      1,708,459,260  383,308,768  2,633,374,980  541,782,590  260,961,312
전년비            84.17%       39.33%         26.00%      223.09%       49.71%
전주비            89.78%       77.99%         77.14%       60.93%        0.00%

In [117]:
import pandas as pd

df = pd.read_excel('C:/Users/kyujin/Desktop/to_dataframe.xlsx')
df.columns

df_item = df[['brand', 'season', 'partcode']]
cols = ['partcode', 'bg1',
       'bg2', 'bg3', 'bg4', 'cp0', 'cp1', 'cp2', 'p3', 'cp4', 'cp5', 'cp6',
       'cp7', 'cp8', 'cp9', 'cp10', 'cp11', 'cp12', 'cp13', 'cp14', 'cp15',
       'sh1', 'sh2', 'sh3', 'sh4', 'sh5', 'sh6', 'sh7', 'outer1', 'outer2',
       'outer3', 'outer4', 'outer5', 'outer6', 'outer7', 'outer8', 'outer9',
       'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9',
       'top10', 'top11', 'top12', 'top13']

df_sub = df[cols].set_index('partcode')
keyword_list = []
for row in range(len(df_sub)):
    s = df_sub.iloc[row].to_list()
    cleaned_list = [x for x in s if str(x) != 'nan']
    keyword_list.append(cleaned_list)
df_sub = df_sub.assign(keyword = keyword_list)
df_multi = df_sub[['keyword']]
df_multi = df_multi.reset_index()

In [116]:
data = []
for i in df_multi.itertuples():
    lst = i[2]
    for col2 in lst:
        data.append([i[1], col2])

df_output = pd.DataFrame(data=data, columns=df_multi.columns)
print(df_output)

       partcode  keyword
0     32CPWY011    MLB모자
1     32CPWY011  MLB겨울모자
2     32CPYZ911    MLB모자
3     32CPYZ911    MLB볼캡
4     32CPZA931    MLB모자
...         ...      ...
2629  31DJZ1961   MLB숏패딩
2630  31DJS3961   MLB숏패딩
2631  31DJS2961   MLB롱패딩
2632  31DJM2961   MLB숏패딩
2633  31DJM1961   MLB롱패딩

[2634 rows x 2 columns]

In [112]:
df_output = pd.DataFrame(data=data, columns=df_multi.columns)
df_final = pd.merge(df_item, df_output, how='right', on='partcode')
print(df_final)

     brand season   partcode  keyword
0        M    20F  32CPWY011    MLB모자
1        M    20F  32CPWY011  MLB겨울모자
2        M    19S  32CPYZ911    MLB모자
3        M    19S  32CPYZ911    MLB볼캡
4        M    19S  32CPZA931    MLB모자
...    ...    ...        ...      ...
2629     M    19F  31DJZ1961   MLB숏패딩
2630     M    19F  31DJS3961   MLB숏패딩
2631     M    19F  31DJS2961   MLB롱패딩
2632     M    19F  31DJM2961   MLB숏패딩
2633     M    19F  31DJM1961   MLB롱패딩

[2634 rows x 4 columns]

In [ ]:
df_item = df[['brand', 'season', 'partcode']]
cols = ['partcode', 'bg1',
       'bg2', 'bg3', 'bg4', 'cp0', 'cp1', 'cp2', 'p3', 'cp4', 'cp5', 'cp6',
       'cp7', 'cp8', 'cp9', 'cp10', 'cp11', 'cp12', 'cp13', 'cp14', 'cp15',
       'sh1', 'sh2', 'sh3', 'sh4', 'sh5', 'sh6', 'sh7', 'outer1', 'outer2',
       'outer3', 'outer4', 'outer5', 'outer6', 'outer7', 'outer8', 'outer9',
       'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9',
       'top10', 'top11', 'top12', 'top13']

df_sub = df[cols].set_index('partcode')
df_sub['keywords'] = ''
keyword_list = []
for row in range(len(df_sub)):
    s = df_sub.iloc[row].to_list()
    cleaned_list = [x for x in s if str(x) != 'nan']
    striped_list = [x.replace(' ', '') for x in cleaned_list if x]
    keywords = '#'.join(striped_list)
    keyword_list.append(keywords)

df = pd.DataFrame(keyword_list, columns=['keywords'])
df_new = pd.concat([df_item, df], axis=1)
print(df_new.head())